* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: rgb(238, 238, 238);
  font-family:Arial, Helvetica, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.logo {
  width: 150px;
  height: 150px;
  border: 2px solid red;
}

.hero-section {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding-bottom: 5rem;
  border: 2px solid red;
}

.header {
  display: flex;
  align-items: center;
  border: 2px solid red;
}

.links {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  border: 2px solid red;
}

a {
  color: white;
  font-size: 1.2rem;
}

.links li {
  list-style: none;
}

.info-picture {
  display: flex;
  align-items: center;
  gap: 4rem;
  border: 2px solid red;
}

.hero-title {
  font-size: 22px;
  word-wrap: normal;
  border: 2px solid red;
}

p {
  font-size: 18px;
  padding-bottom: 2rem;
}

.main-picture {
  width: 300px;
  height: auto;
  border: 2px solid red;
}

.sign-in {
  padding: 0.5rem 1rem;
  border: 2px solid red;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1F2937;
  padding: 30px;
  border: 2px solid red;
}

.description-text {
  padding: 30px;
  justify-content: center;
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  border: 2px solid red;
}

.cards {
  display: flex;
  padding: 25px;
  gap: 25px;
  border: 2px solid red;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 2px solid red;
}

.card-picture {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 10%;
  border: 2px solid red;
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1f2937;
  padding: 40px;
  border: 2px solid red;
}

.quote-text{
  font-size: 36px;
  font-style: italic;
  border: 2px solid red;
}

.signature {
  padding-top: 15px;
  padding-left: 400px;
  font-weight: bold;
  border: 2px solid red;
}

.register-section {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: white;
  border: 2px solid red;
}

.text-register {
  background-color: #3882F6;
  width: 800px;
  display: flex;
  margin: 32px;
  padding: 40px 80px;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  border: 2px solid red;
}

.sign-up {
  align-self: center;
  border: 2px solid red;
}

.sign-up {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #3882F6;
  color: white;
  padding: 6px 20px;
  border: 2px solid red;
}

.textbox {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.text-1 {
  font-size: 24px;
  font-weight: bold ;
  border: 2px solid red;
}
.text-2 {
  font-size: 14px;
}

.footer {
  background-color:#1F2937;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 2px solid red;
}
