body {
  background-color: rgb(188, 213, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  padding: 16px ;
  border: 1px solid red;
  height: 50px;
  width: auto;
}

.card-holder {
  padding: 16px;
  display: flex;
  border: 1px solid red;

}

.features {
  display: flex;
  border: 1px solid red;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  border: 1px solid red;
}

img {
  width: 200px;
  height: auto;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  width: 900px;
  height: 900px;
}

.logo {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}
